{%- if section.settings.announcement_bar_enabled -%}
  {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
    <div class="notification-bar mobilehide">
      {%- if section.settings.announcement_bar_link != blank -%}
        <a href="{{ section.settings.announcement_bar_link }}" class="notification-bar__message">
          {{ section.settings.announcement_bar_text | escape }}
        </a>
        <span class="close-announcement">×</span>
      {%- else -%}
        <p class="notification-bar__message">{{ section.settings.announcement_bar_text | escape }}</p>
        <span class="close-announcement">×</span>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endif -%}
<!--End Promotion Bar-->

<!--Search Form Drawer-->
<div class="search">
  <div class="search__form">
    <form class="search-bar__form" action="/search" method="get" role="search">
      <button type="submit" class="go-btn search__button">
        <i class="icon anm anm-search-l"></i>
      </button>
      <input class="search__input" type="search"
        name="q"
        id="Search-{{ section.id }}"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.placeholder' | t }}">
    </form>
    <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
  </div>
</div>
<!--End Search Form Drawer-->

<!--Top Header-->
<div class="top-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-5 col-lg-4">
        <div class="currency-picker">
          <span class="selected-currency">USD</span>
          <ul id="currencies">
            <li data-currency="USD" class="selected">USD</li>
            <li data-currency="AUD" class="">AUD</li>
            <li data-currency="EUR" class="">EUR</li>
          </ul>
        </div>
        <div class="language-dropdown">
          <span class="language-dd">English</span>
          <ul id="language">
            <li class="">German</li>
            <li class="">French</li>
          </ul>
        </div>
        {% if section.settings.phone %}
          <p class="phone-no"><i class="anm anm-phone-s"></i> {{ section.settings.phone }} </p>
        {% endif %}
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
        <div class="text-center">
          <p class="top-header_middle-text"> Worldwide Express Shipping</p>
        </div>
      </div>
      <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
        <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
        <ul class="customer-links list-inline">
          {% if customer %}
            <li><a href="/account">{{ customer.first_name | truncate:15 }}</a></li>
            <li><a href="/account/logout">Logout</a></li>
          {% else %}
            <li><a href="/account/login">Login</a></li>
            {% if shop.customer_accounts_optional %}
              <li><a href="/account/register">Create an account</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<!--End Top Header-->
<!--Header-->
<div class="header-wrap animated d-flex border-bottom">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!--Desktop Logo-->
      <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
        <a href="/" class="logo-image">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ section.settings.logo.alt | default: shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>
      <div class="col-2 col-sm-3 col-md-3 col-lg-8">
        <div class="d-block d-lg-none">
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            <i class="icon anm anm-times-l"></i>
            <i class="anm anm-bars-r"></i>
          </button>
        </div>
        <!--Desktop Menu-->
        <nav class="grid__item" id="AccessibleNav">
          <!-- for mobile -->
          <ul id="siteNav" class="site-nav medium center hidearrow">
            {% for link in linklists[section.settings.menu].links %}
              {% if link.links != blank %}
                <li class="lvl1 parent megamenu">
                  <a href="{{ link.url }}">
                    {{ link.title }}
                    <i class="anm anm-angle-down-l"></i>
                  </a>
                  <div class="megamenu style4">
                    <ul class="grid grid--uniform mmWrapper">
                      {% for childlink in link.links %}
                        <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="{{ childlink.url }}" class="site-nav lvl-1">{{ childlink.title }}</a>
                          <ul class="subLinks">
                            {% for sublink in childlink.links %}
                              <li class="lvl-2">
                                <a class="site-nav lvl-2" href="{{ sublink.url }}">
                                  {{ sublink.title }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              {% else %}
                <li>
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
        <!--End Desktop Menu-->
      </div>
      <!--Mobile Logo-->
      <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
        <div class="logo">
          <a href="/">
            {% if section.settings.logo != blank %}
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}">
            {% else %}
              {{ shop.name }}
            {% endif %}
          </a>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-3 col-lg-2">
        <div class="site-cart">
          <a href="#" class="site-header__cart" title="Cart">
            <i class="icon anm anm-bag-l"></i>
            {% if cart.item_count > -1 %}
              <span id="CartCount" class="cart-count site-header__cart-count" data-cart-render="item_count">{{ cart.item_count }}</span>
            {% endif %}
          </a>
          <!--Minicart Popup-->
          <div id="header-cart" class="block block-cart">
            {% if cart.item_count > 0 %}
              <ul class="mini-products-list">
                {% for item in cart.items %}
                  <li class="item">
                    {% if item.image != blank %}
                      <a class="product-image" href="{{ item.url | within: collections.all }}">
                        <img src="{{ item | img_url: 'medium' }}" alt="">
                      </a>
                    {% endif %}
                    <div class="product-details">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                      <a href="{{ item.url }}" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                      <a class="pName" href="{{ item.url }}">{{ item.product.title }}</a>
                      <div class="variant-cart">
                        {% unless item.product.has_only_default_variant %}
                          <label>{{ item.variant.title }}</label>
                        {% endunless %}
                      </div>
                      <div class="priceRow">
                        <div class="product-price">
                          <span class="money">{{ item.line_price | money }}</span>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="total">
              {% if cart.item_count > 0 %}
                <div class="total-in">
                  <span class="label">Cart Subtotal:</span>
                  <span class="product-price">
                    <span id="cart-price" class="money">{{ cart.total_price | money }}</span>
                  </span>
                </div>
                <div class="buttonSet text-center">
                  <div class="minicart-btn">
                    <a href="/cart" class="btn">View Cart</a>
                    <form action="/cart" method="post" class="btn">
                      <input type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}">
                    </form>
                  </div>
                </div>
              {% else %}
                <p>Your cart is empty</p>
              {% endif %}
            </div>
          </div>
          <!--End Minicart Popup-->
        </div>
        <div class="site-header__search">
          <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Header-->
<!--Mobile Menu-->
<div class="mobile-nav-wrapper" role="navigation">
  <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
  <ul id="MobileNav" class="mobile-nav">
    {% for link in linklists[section.settings.menu].links %}
      {% if link.links != blank %}
        <li class="lvl1 parent megamenu"><a href="{{ link.url }}">{{ link.title }} <i class="anm anm-plus-l"></i></a>
          <ul>
            {% for childlink in link.links %}
              <li><a href="{{ childlink.url }}" class="site-nav">{{ childlink.title }}<i class="anm anm-plus-l"></i></a>
                <ul>
                  {% for sublink in childlink.links %}
                    <li><a href="{{ sublink.url }}" class="site-nav">{{ sublink.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li>
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<!--End Mobile Menu-->

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}



{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link"
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone Number"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 100
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
